@import "./_bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

.pizzagram-header {
    background-image: url(../../images/pizza-header.jpg);
    background-size: cover;
    background-position: center;
};

.pizzagram-header-text {
    font-family: 'Fredoka One', cursive;
}

.pizzagram-text-shadow {
    text-shadow: 0px 2px 5px #333;
}

input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    ::-ms-check {
        display: none;
    }
}