@import "./_bootstrap.scss";

.pizzagram-header {
    background-image: url(../../images/pizza-header.jpg);
    background-size: cover;
    background-position: center;
    text-shadow: 0px 2px 5px #333;
};