.page h1 {
  padding: 6px; }

.page a {
  display: block;
  padding: 6px 12px;
  text-decoration: none; }

.page .btn {
  background-color: rebeccapurple !important; }

.page .inner {
  padding: 6px;
  background-color: rebeccapurple; }
